.Menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100hv;
  background-color: #1a1a1a;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.Menu h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.Menu label{
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.Menu input {
  margin-left: 10px;
  padding: 5px;
  width: 60px;
  border-radius: 4px;
  border: none;
}

.Menu botton {
  padding: 10px 30px;
  font-size: 1.5rem;
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.Menu button:hover {
  background-color: #27ae60;
}


.game-container{
  width: 100vw;
  height: 100vh;
  background-color: #1a202c;
  background-image: 
    linear-gradient(rgba(0, 255, 0, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 255, 0, 0.05) 1px, transparent 1px);
  background-size: 50px 50px;
  position: relative;
  overflow: hidden;
  cursor: crosshair;
}


/* information */
.hud {
  position: absolute;
  top: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.8);
  color: #00ff00;
  padding: 15px 25px;
  border: 1px solid #00ff00;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.3);
  pointer-events: none;
}

.hud div {
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.enemy {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #ff4757;
  border-radius: 50%;
  box-shadow: 0 0 15px #ff4757;
  border: 2px solid white;
  transition: transform 0.1s;
  z-index: 5;
}

